h1{
	font-family: "Centaur MT Std";
	color: white;
	background-color: #45a845;
	font-size: 72;
	text-align: center;
	margin-top: 36;
	
}
h2{
	font-family: "Centaur MT Std";
	font-size:36;
	font-style: bold;
	color: white;
	text-align: center;
	background-color: #632018;
	padding: 72;
	border: 2px solid white;
}

#index{
	font-family: "Centaur MT Std";
	color: white;
	background-color: #45a845;
	font-size: 72;
	text-align: center;
	margin-top: 36;
}
img{
	display: block;
	margin: auto;
	width: 50%;
	border: 2px solid white;
}

body{
	background-color: #45a845;
	text-decoration: none;
}

p{
	font-style: normal;
	font-family: "Futura Std";
	font-size: 36;
	color: white;
	text-align: center;
	margin: 36;
}
a{
	background-color:#45a845;
	font-family: "Futura Std";
	font-size: 36;
	color: white;
	font-style: bold;
	margin-left: 36;
	text-decoration: none;
}
a:hover{
	
	color: #0a300a;
	background-color: white;
}

}